###############################################################################
# MarioKartESP32
# .gitignore
#
# Proyecto:
#   - ESP32 Receiver
#   - ESP32 Transmitter
#   - MKShared
#   - Android (Xamarin)
#   - Visual Studio 2022
###############################################################################

###############################################################################
# Visual Studio
###############################################################################

.vs/
*.suo
*.user
*.userprefs
*.sln.docstates
*.VC.db
*.VC.opendb

###############################################################################
# Build
###############################################################################

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

###############################################################################
# CMake
###############################################################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

###############################################################################
# Arduino
###############################################################################

*.elf
*.hex
*.bin
*.map

###############################################################################
# ESP32
###############################################################################

sdkconfig
sdkconfig.old

###############################################################################
# Xamarin / Android
###############################################################################

*.apk
*.aab
*.ap_
*.dex

*.keystore

###############################################################################
# Android Studio
###############################################################################

.idea/
.gradle/
local.properties
captures/

###############################################################################
# NuGet
###############################################################################

packages/
*.nupkg

###############################################################################
# Resharper
###############################################################################

_ReSharper*/
*.DotSettings.user

###############################################################################
# Rider
###############################################################################

.idea/

###############################################################################
# VSCode
###############################################################################

.vscode/

###############################################################################
# Windows
###############################################################################

Thumbs.db
Desktop.ini

###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Linux
###############################################################################

*~

###############################################################################
# Temporary files
###############################################################################

*.tmp
*.temp
*.bak
*.old
*.orig

###############################################################################
# Crash Dumps
###############################################################################

*.dmp

###############################################################################
# Test Results
###############################################################################

TestResults/

###############################################################################
# Coverage
###############################################################################

coverage/
*.coverage

###############################################################################
# Generated Documentation
###############################################################################

docs/_build/

###############################################################################
# JetBrains
###############################################################################

*.iml

###############################################################################
# Git
###############################################################################

*.swp
*.lock